@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap");

html,
body {
  background-color: rgb(22, 22, 22);
}

.container {
  margin: 0 auto;
  width: 150vh;
  height: 100vh;
  border: 2px solid pink;
}

.info {
  color: #ededed;
  font-family: "Ubuntu Mono";
  background-color: #2b303b;
  padding: 5px;
}

.line-on-side {
  border: 0.5px solid #5cda09;
  padding: 5px 0 0;
  margin: 0 auto;
}

.position {
  margin-top: 10px;
  width: 100%;
  color: #333;
  text-align: center;
  font-size: 1rem;
  line-height: normal;
  float: left;
  font-family: Ubuntu Mono;
}
