@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap");

html,
body {
  background-color: rgb(22, 22, 22);
}

.container {
  margin: 0 auto;
  /* width: 150vh;
  width: 100%;
  height: 100vh; */
  border: 2px solid pink;
  background-color: rgb(241, 241, 241);
}

.info {
  color: #ededed;
  font-family: "Ubuntu Mono";
  background-color: #2b303b;
  padding: 5px;
}

.line-on-side {
  border: 0.5px solid #5cda09;
  padding: 5px 0 0;
  margin: 0 auto;
}

.position {
  margin-top: 10px;
  width: 100%;
  color: #333;
  text-align: center;
  font-size: 1rem;
  line-height: normal;
  float: left;
  font-family: Ubuntu Mono;
}

.log {
  margin: 10px 10px 10px 0px;
  background-color: #2b303b;
  max-height: 20vh;
  height: 20vh;
  color: white;
  padding: 5px;
  font-family: "Ubuntu Mono";
  overflow-y: scroll;
  border: 1px solid black;
  box-shadow: 5px 10px #acacac;
}

.chart {
  background-color: #e9e9e9;
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  border: 1px solid black;
  box-shadow: 5px 10px #acacac;
}

.headers {
  margin: 10px 10px 10px 0px;
  background-color: #232936;
  max-height: 20vh;
  color: white;
  padding: 6px;
  font-family: "Ubuntu Mono";
  overflow-y: scroll;
}

.info {
  margin: 10px 0px 10px 0px;
  background-color: #232936;
  max-height: 20vh;
  color: white;
  padding: 15px;
  font-family: "Ubuntu Mono";
  overflow-y: scroll;
  border: 1px solid black;
  box-shadow: 5px 10px #acacac;
}

.footer {
  margin-bottom: 5px;
}

span {
  background-color: #0f0f0f;
  color: rgb(255, 255, 255);
  padding: 2px;
}

p {
  margin: 3px;
  transition: 0.5s;

  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

p:hover {
  background-color: #ededed;
}

.satnum {
  background-color: #0d0f14;
  color: white;
}

.latitude,
.longitude,
.speed {
  background-color: white;
  color: #0d0f14;
}
